body {
  height: 95vh;
  background: linear-gradient(233deg, #040609, #1b283b);
  background-size: 400% 400%;

  -webkit-animation: body 35s ease infinite;

  -moz-animation: body 35s ease infinite;
  animation: body 35s ease infinite;
}

@-webkit-keyframes body {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}
@-moz-keyframes body {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}
@keyframes body {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}
