@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 203 0% 95%;
  --foreground: 203 0% 0%;
  --card: 203 0% 90%;
  --card-foreground: 203 0% 10%;
  --popover: 203 0% 95%;
  --popover-foreground: 203 95% 0%;
  --primary: 203 41% 70%;
  --primary-foreground: 0 0% 0%;
  --secondary: 203 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 165 10% 85%;
  --muted-foreground: 203 0% 35%;
  --accent: 165 10% 80%;
  --accent-foreground: 203 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 203 0% 90%;
  --border: 203 20% 50%;
  --input: 203 20% 18%;
  --ring: 203 41% 70%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0rem;
}
.dark {
  --background: 203 10% 5%;
  --foreground: 203 0% 90%;
  --card: 203 0% 0%;
  --card-foreground: 203 0% 90%;
  --popover: 203 10% 5%;
  --popover-foreground: 203 0% 90%;
  --primary: 203 41% 70%;
  --primary-foreground: 0 0% 0%;
  --secondary: 203 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 165 10% 15%;
  --muted-foreground: 203 0% 60%;
  --accent: 165 10% 15%;
  --accent-foreground: 203 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 203 0% 90%;
  --border: 203 20% 18%;
  --input: 203 20% 18%;
  --ring: 203 41% 70%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --radius: 0rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  min-width: 360px;
}

p {
  @apply leading-loose text-muted-foreground;
}

.prose {
  @apply text-muted-foreground;
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply font-normal text-muted-foreground decoration-muted-foreground decoration-[0.1em] underline-offset-2 transition-all;
}

.prose a:hover {
  @apply decoration-muted-foreground;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply overflow-x-auto rounded-lg bg-muted;
}

.prose code {
  @apply rounded-lg px-1 py-0.5 text-muted-foreground;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}
