@import "tailwindcss";
@config '../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }
}

@layer base {
  :root {
    --background: 150 12% 97%;
    --foreground: 165 11% 7%;
    --card: 150 12% 97%;
    --card-foreground: 165 11% 7%;
    --popover: 150 12% 97%;
    --popover-foreground: 165 11% 7%;
    --primary: 159 9% 29%;
    --primary-foreground: 150 12% 97%;
    --secondary: 195 11% 65%;
    --secondary-foreground: 165 11% 7%;
    --muted: 150 12% 20%;
    --muted-foreground: 166 11% 70%;
    --accent: 202 10% 42%;
    --accent-foreground: 150 12% 97%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 165 11% 7%;
    --border: 150 12% 20%;
    --input: 150 12% 20%;
    --ring: 201 10% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 150 13% 3%;
    --foreground: 165 11% 93%;
    --card: 150 13% 3%;
    --card-foreground: 165 11% 93%;
    --popover: 150 13% 3%;
    --popover-foreground: 165 11% 93%;
    --primary: 159 9% 71%;
    --primary-foreground: 150 13% 3%;
    --secondary: 195 11% 35%;
    --secondary-foreground: 165 11% 93%;
    --muted: 150 14% 80%;
    --muted-foreground: 165 11% 93%;
    --accent: 202 10% 58%;
    --accent-foreground: 150 13% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 168 10% 10%;
    --border: 150 13% 60%;
    --input: 150 14% 80%;
    --ring: 201 10% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  min-width: 360px;
}

p {
  @apply text-muted-foreground leading-loose;
}

.prose {
  @apply text-muted-foreground;
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply text-muted-foreground decoration-muted-foreground font-normal decoration-[0.1em] underline-offset-2 transition-all;
}

.prose a:hover {
  @apply decoration-muted-foreground;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-muted overflow-x-auto rounded-lg;
}

.prose code {
  @apply text-muted-foreground rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
  @apply text-foreground! font-medium! tracking-tight!;
}

.prose strong {
  @apply text-muted-foreground font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

th {
  @apply text-foreground;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}
