@import "tailwindcss";
@config '../../tailwind.config.js';

@layer base {
  :root {
    --base-1: 240 20% 99.01960784313727%;
    --base-2: 240 19.999999999999943% 98.0392156862745%;
    --base-3: 240 11.111111111111065% 94.70588235294117%;
    --base-4: 240 9.52380952380956% 91.76470588235294%;
    --base-5: 230.00000000000003 10.714285714285722% 89.01960784313725%;
    --base-6: 240 10.144927536231888% 86.47058823529412%;
    --base-7: 233.33333333333337 9.89010989010989% 82.15686274509804%;
    --base-8: 230.7692307692308 10.23622047244095% 75.09803921568627%;
    --base-9: 230.76923076923066 5.936073059360735% 57.05882352941176%;
    --base-10: 226.1538461538462 5.394190871369299% 52.74509803921569%;
    --base-11: 220 5.88235294117647% 40%;
    --base-12: 210 12.5% 12.549019607843137%;
    --accent-1: 168.00000000000006 71.42857142857154% 98.62745098039215%;
    --accent-2: 166.6666666666667 52.941176470588225% 96.66666666666666%;
    --accent-3: 165 70.00000000000001% 92.15686274509804%;
    --accent-4: 164.99999999999997 66.66666666666671% 87.05882352941177%;
    --accent-5: 165.26315789473685 60.00000000000002% 81.37254901960785%;
    --accent-6: 165.88235294117646 52.3076923076923% 74.50980392156863%;
    --accent-7: 166.66666666666666 45.76271186440678% 65.29411764705883%;
    --accent-8: 168.10810810810813 44.93927125506073% 51.56862745098039%;
    --accent-9: 166.8 70.42253521126757% 72.15686274509804%;
    --accent-10: 167.27272727272725 61.49068322981367% 68.43137254901961%;
    --accent-11: 169.83050847457628 96.72131147540985% 23.921568627450977%;
    --accent-12: 170.66666666666666 50.56179775280899% 17.45098039215686%;
    --background: 240 20% 99.01960784313727%;
    --foreground: 210 12.5% 12.549019607843137%;
    --card: 240 19.999999999999943% 98.0392156862745%;
    --card-foreground: 210 12.5% 12.549019607843137%;
    --popover: 240 20% 99.01960784313727%;
    --popover-foreground: 210 12.5% 12.549019607843137%;
    --primary: 193.63636363636365 90.41095890410958% 71.37254901960785%;
    --primary-foreground: 205.26315789473688 49.56521739130436%
      22.54901960784314%;
    --secondary: 240 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 220 5.88235294117647% 40%;
    --muted: 240 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 220 5.88235294117647% 40%;
    --accent: 167.27272727272725 61.49068322981367% 68.43137254901961%;
    --accent-foreground: 170.66666666666666 50.56179775280899%
      17.45098039215686%;
    --destructive: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --destructive-foreground: 7.868852459016397 49.59349593495935%
      24.11764705882353%;
    --border: 240 10.144927536231888% 86.47058823529412%;
    --input: 240 10.144927536231888% 86.47058823529412%;
    --ring: 240 10.144927536231888% 86.47058823529412%;
    --radius: 0.5rem;
  }
  .dark {
    --base-1: 240 5.555555555555555% 7.0588235294117645%;
    --base-2: 220 5.88235294117647% 10%;
    --base-3: 225.00000000000006 5.7142857142857135% 13.725490196078432%;
    --base-4: 210.00000000000003 7.1428571428571415% 16.47058823529412%;
    --base-5: 214.28571428571428 7.0707070707070745% 19.411764705882355%;
    --base-6: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --base-7: 212.72727272727275 7.586206896551727% 28.431372549019606%;
    --base-8: 212.00000000000003 7.692307692307687% 38.23529411764706%;
    --base-9: 218.57142857142856 6.250000000000003% 43.92156862745098%;
    --base-10: 221.53846153846155 5.1792828685259% 49.21568627450981%;
    --base-11: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --base-12: 220 9.09090909090906% 93.52941176470588%;
    --accent-1: 180 20% 6.862745098039216%;
    --accent-2: 180 28.57142857142857% 8.235294117647058%;
    --accent-3: 178.28571428571428 66.03773584905662% 10.392156862745097%;
    --accent-4: 177.93103448275863 100% 11.372549019607844%;
    --accent-5: 177.46478873239437 100% 13.92156862745098%;
    --accent-6: 174.85714285714286 68.62745098039215% 20%;
    --accent-7: 172.7027027027027 55.22388059701492% 26.27450980392157%;
    --accent-8: 169.77272727272728 53.012048192771076% 32.549019607843135%;
    --accent-9: 166.8 70.42253521126757% 72.15686274509804%;
    --accent-10: 167.53246753246754 79.38144329896912% 80.98039215686275%;
    --accent-11: 167.04 59.808612440191396% 59.01960784313726%;
    --accent-12: 155.51020408163262 71.01449275362323% 86.47058823529412%;
    --background: 240 5.555555555555555% 7.0588235294117645%;
    --foreground: 220 9.09090909090906% 93.52941176470588%;
    --card: 220 5.88235294117647% 10%;
    --card-foreground: 220 9.09090909090906% 93.52941176470588%;
    --popover: 240 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 220 9.09090909090906% 93.52941176470588%;
    --primary: 191.72413793103448 100% 82.94117647058823%;
    --primary-foreground: 205.26315789473688 49.56521739130436%
      22.54901960784314%;
    --secondary: 220 5.88235294117647% 10%;
    --secondary-foreground: 215.9999999999999 6.756756756756753%
      70.98039215686273%;
    --muted: 220 5.88235294117647% 10%;
    --muted-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --accent: 167.53246753246754 79.38144329896912% 80.98039215686275%;
    --accent-foreground: 170.66666666666666 50.56179775280899%
      17.45098039215686%;
    --destructive: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --destructive-foreground: 10 85.71428571428571% 89.01960784313725%;
    --border: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --input: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --ring: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --radius: 0.5rem;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  min-width: 360px;
}

p {
  @apply text-muted-foreground leading-loose;
}

.prose {
  @apply text-muted-foreground;
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply text-muted-foreground decoration-muted-foreground font-normal decoration-[0.1em] underline-offset-2 transition-all;
}

.prose a:hover {
  @apply decoration-muted-foreground;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-muted overflow-x-auto rounded-lg;
}

.prose code {
  @apply text-muted-foreground rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
  @apply text-foreground! font-medium! tracking-tight!;
}

.prose strong {
  @apply text-muted-foreground font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

th {
  @apply text-foreground;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}
