.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 0 20vw 0 20vw;
}

.name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 4vh;
}

.fn {
  color: var(--text);
}

.mn {
  color: var(--accent);
}

.ln {
  color: var(--text);
}

.description {
  text-align: center;
}
