:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: #f0f2f4;
  --background: #040609;
  --primary: #99b8df;
  --secondary: #174c8d;
  --accent: #358cf6;
}

@font-face {
  font-family: "Fistalle";
  src: local("Fistalle"), url(./fonts/Fistalle.ttf), format("truetype");
}

* {
  color: var(--text);
}

body {
  height: 95vh;
  background: linear-gradient(233deg, #040609, #144580);
  background-size: 400% 400%;

  -webkit-animation: body 35s ease infinite;

  -moz-animation: body 35s ease infinite;
  animation: body 35s ease infinite;
}

@-webkit-keyframes body {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}
@-moz-keyframes body {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}
@keyframes body {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}

input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0 12px 0 12px;
  font-weight: 450;
  font-family: "Red Rose Variable";
}

button {
  color: var(--background);
  background-color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--background);
  border-radius: 6px;
  margin: 0 2px 0 2px;
  width: fit-content;
  transition: 0.25s ease-out;
  transition: 0.25s ease-in;
}

button:hover {
  color: var(--text);
  background-color: var(--secondary);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-family: "Fistalle";
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-family: "Fistalle";
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-family: "Fistalle";
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5,
button {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
