@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 87% 97%;
    --foreground: 257 88% 10%;
    --card: 249 87% 97%;
    --card-foreground: 257 88% 10%;
    --popover: 249 87% 97%;
    --popover-foreground: 257 88% 10%;
    --primary: 251 86% 28%;
    --primary-foreground: 249 87% 97%;
    --secondary: 324 87% 67%;
    --secondary-foreground: 257 88% 10%;
    --muted: 249 86% 20%;
    --muted-foreground: 257 88% 70%;
    --accent: 347 86% 43%;
    --accent-foreground: 249 87% 97%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 257 88% 10%;
    --border: 249 86% 20%;
    --input: 249 86% 20%;
    --ring: 347 86% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 249 87% 3%;
    --foreground: 257 88% 90%;
    --card: 249 87% 3%;
    --card-foreground: 257 88% 90%;
    --popover: 249 87% 3%;
    --popover-foreground: 257 88% 90%;
    --primary: 251 86% 72%;
    --primary-foreground: 249 87% 3%;
    --secondary: 324 87% 33%;
    --secondary-foreground: 257 88% 90%;
    --muted: 249 86% 80%;
    --muted-foreground: 257 88% 90%;
    --accent: 347 86% 57%;
    --accent-foreground: 249 87% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 257 88% 10%;
    --border: 249 87% 60%;
    --input: 249 86% 80%;
    --ring: 347 86% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes gradientChange {
    0% {
      background-position: 0%;
    }

    50% {
      background-position: 100%;
    }

    100% {
      background-position: 0%;
    }
  }

  .gradient {
    background: linear-gradient(90deg);
    background-size: 200% 200%;
  }

  .element-to-rotate {
    animation: gradientChange 4s ease infinite;
  }

  .icon-color {
    background: linear-gradient(90deg);
    background-size: 200% 200%;
  }
}
