@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --background: 180 20% 98%;
    --foreground: 165 15% 5%;
    --card: 180 20% 98%;
    --card-foreground: 165 15% 5%;
    --popover: 180 20% 98%;
    --popover-foreground: 165 15% 5%;
    --primary: 165 24% 29%;
    --primary-foreground: 180 20% 98%;
    --secondary: 165 28% 68%;
    --secondary-foreground: 165 15% 5%;
    --muted: 180 20% 20%;
    --muted-foreground: 164 15% 70%;
    --accent: 164 33% 49%;
    --accent-foreground: 165 15% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 165 15% 5%;
    --border: 180 20% 20%;
    --input: 180 20% 20%;
    --ring: 164 33% 40%;
    --radius: 0.5rem;
  }

  :root {
    --background: 180 17% 2%;
    --foreground: 165 14% 95%;
    --card: 180 17% 2%;
    --card-foreground: 165 14% 95%;
    --popover: 180 17% 2%;
    --popover-foreground: 165 14% 95%;
    --primary: 165 24% 71%;
    --primary-foreground: 180 17% 2%;
    --secondary: 165 28% 32%;
    --secondary-foreground: 165 14% 95%;
    --muted: 180 18% 80%;
    --muted-foreground: 165 14% 95%;
    --accent: 164 33% 51%;
    --accent-foreground: 180 17% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 163 14% 10%;
    --border: 180 17% 60%;
    --input: 180 18% 80%;
    --ring: 164 33% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
